@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	html {
		@apply font-sans antialiased;
	}
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
  